<!DOCTYPE html>
<html lang="en">
<head>
    <title>Please Enter the Following Information</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form [formGroup]="data" (ngSubmit)="handleSubmit()">
        <h3>Login Here</h3>

        <label for="username">Username/Email</label>
        <input type="text" placeholder="Email" id="username" formControlName="userId">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" formControlName="password">

        <button type="submit">Log In</button><br><br>
        <a routerLink="/register">Don't have an account? Register Here</a> 
        
    </form>
</body>
</html>

<router-outlet></router-outlet>


