<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthcare UI</title>
</head>
<body>
    <header>
        <nav>
          <h1>Healthcare</h1>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a [routerLink]="['/appointment']">Book Appointment</a></li>
                <li><a [routerLink]="['CheckReport']">MRI Report Check</a></li>
                <li><a [routerLink]="['login']">Login</a></li>
                <li><a [routerLink]="['register']">Register</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="hero">
        <div class="home-container">
            <img src="assets\house.png" alt="Healthcare Home" class="home-img">
            
        </div>
    </section>
    
    <section class="features">
        <div class="feature">
            <img src="assets\doctor.png" alt="Doctor">
            <p>Register</p>
            <button [routerLink]="['register']">Register</button>
        </div>
        <div class="feature">
            <img src="assets\stethoscope.png" alt="Login" >
            <p>Login &nbsp; &nbsp;</p>
            <button [routerLink]="['login']">Login Here</button>
        </div>
        <div class="feature">
            <img src="assets\mri.png" alt="MRI Report Check">
            <p>MRI Report Check</p>
            <button [routerLink]="['CheckReport']">Upload</button>
        </div>
        <div class="feature">
            <img src="assets\appointment.png" alt="MRI Report Appointment">
            <p>Book</p>
            <button [routerLink]="['/appointment']">Appointment</button>
        </div>
    </section>
    
</body>
<footer style="align-items: center;padding: auto;">
  <div class="footer">
    <div  style="width: 50%; margin-left: 40px;">
      <p style="color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Our Social Media Accounts</p>

    <p><a  target="_blank" href="https://www.instagram.com/brain_tumour_research/" style="color: white;">Follow us on Instagram</a> </p>
    <p><a  target="_blank" href="https://www.facebook.com/groups/1640369692663244" style="color: white;">Follow us on Facebook</a> </p>
    <p><a  target="_blank" href="https://www.youtube.com/@apollohospitalsdelhi " style="color: white;">Follow us on YouTube</a></p>
    <p><a  target="_blank" href="https://braintumor.org/" style="color: white;">Brain Tumor Organization</a></p>
    <p><a target="_blank" href="https://www.abta.org/" style="color: white;">American Brain Tumor Association</a></p>
    <p><a target="_blank" href="https://www.nature.com/articles/s41598-024-74731-8" style="color: white;">Classification of Brain Tumor</a></p>
    <p><a target="_blank" href="https://pmc.ncbi.nlm.nih.gov/articles/PMC11031674/" style="color: white;">Technologies Related to Brain Tumor</a></p>
     
  </div>
  <div style="width: 50%;">
    <p style="color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Visit on Websites for more Information</p>
    <p><a target="_blank" href="https://pmc.ncbi.nlm.nih.gov/articles/PMC8883042/" style="color: white;">National Library Of Medicine</a></p>
    <p><a target="_blank" href="https://ascopubs.org/doi/10.1200/JCO.2017.74.2965" style="color: white;">How to cure?</a></p>
    <p><a target="_blank" href="https://braintumor.org/brain-tumors/about-brain-tumors/brain-tumor-facts/" style="color: white;">Brain Tumor facts</a></p>
    <p><a target="_blank" href="https://www.ncbi.nlm.nih.gov/books/NBK606457/" style="color: white;">NIH Reports on Brain Tumor </a></p>
    <p><a target="_blank" href="https://cancerblog.mayoclinic.org/2024/07/25/types-of-brain-tumors-and-treatments/" style="color: white;">Types of Brain Tumor </a></p>
    <p><a target="_blank" href="https://cancerblog.mayoclinic.org/2022/05/10/brain-tumors-what-you-should-know/" style="color: white;">Comprehensive on Brain Tumor </a></p>
    <p><a target="_blank" href="https://www.cancersupportcommunity.org/sites/default/files/fsac/brain_tumors.pdf" style="color: white;">Supports Community </a></p>

  </div>
  <div style="width: 40%;">
    <p style="color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Health Related Schemes</p>
    <p><a target="_blank" href="https://www.medindia.net/health/insurance/ayushman-bharat-pradhan-mantri-jan-arogya-yojana.htm" style="color: white;">Ayushman Bharat </a></p>
    <p><a target="_blank" href="https://pib.gov.in/pressreleaseshare.aspx?prid=1576128" style="color: white;">PIB of India </a></p>
    <p><a target="_blank" href="https://www.eka.care/services/list-of-government-health-schemes-in-india" style="color:white;">EKA India </a></p>
    <p><a target="_blank" href="https://ihatepsm.com/blog/list-national-health-programs-along-brief-description-each" style="color: white;">National Health Programs in  India </a></p>
    <p><a target="_blank" href="https://www.insightsonindia.com/social-justice/issues-related-to-health-sector/problems-pertaining-to-healthcare-sector-in-india/central-government-schemes/" style="color: white;">Central Goverment Schemes </a></p>
    <p><a target="_blank" href="https://www.ninds.nih.gov/health-information/disorders/brain-and-spinal-cord-tumors" style="color: white; ">
      NIH - Brain and Spinal Cord Tumors</a></p>
  </div>
</div>
<p style="color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-align: center;margin-top: 10px;">All CopyRights&copy; are Reserved 2025</p>

  </footer>
</html>
